{% extends 'layout.twig' %}

{% set metaTitle = title ~ ' | eluceo/ical' %}

{% block body %}
    <div id="page-container">
        <aside id="menu">
            <div id="logo">
                <a href="/">
                    eluceo/ical
                </a>
                <a href="https://github.com/markuspoerschke/iCal" class="github-link" title="Visit project page on GitHub.">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            {% for section in menu %}
                <nav>
                    <div class="title">{{ section.section }}</div>
                    <ul>
                        {% for itemId, item in section.items %}
                            <li class="{{ currentMenu == itemId ? 'active': '' }}">
                                <a href="{{ item.url }}">
                                    {{ item.text }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            {% endfor %}
        </aside>

        <section id="content">
            <article>
                <a href="https://github.com/markuspoerschke/iCal/edit/master/docs/{{ currentFile }}"
                   title="Improve the documentation by editing this file on GitHub"
                   class="btn"
                   id="edit-current-page">
                    <i class="fas fa-pencil-alt"></i>
                    Edit
                </a>

                {{ content | raw }}
            </article>
        </section>
    </div>
{% endblock body %}
